<!--The content below is only a placeholder and can be replaced.-->

<!-- Upper right corner: <input [(ngModel)]="gridSize" placeholder="Upper right corner" type="text" /> <br /><br /> -->
Opportunity start point: <input [(ngModel)]="opportunityStartPoint" placeholder="Opportunity start point" type="text" /> <br />
Curriosity start point: <input [(ngModel)]="curriosityStartPoint" placeholder="Curriosity start point" type="text" /><br /><br />
<button (click)="passNewStartingPossition()">
    Submit new possition
</button>
<br />
<br />
Opportunity instructions: <input [(ngModel)]="opportunityInstructions" placeholder="Opportunity instructions" type="text" /> <br />
Curriosity instructions: <input [(ngModel)]="curriosityInstructions" placeholder="Curriosity instructions" type="text" /><br />
<br />
<button (click)="passNewInstructions()">
    Sumit new instructions
</button>
<br /><br />
Opportunity rover location: {{ opportunity.x + ' ' + opportunity.y + ' ' + opportunity.direction }}<br /> 
Curriosity rover location: {{ curriosity.x + ' ' + curriosity.y + ' ' + curriosity.direction }} <br /><br />


